/* ------------------------------------------------------------------
 * Page
 * --------------------------------------------------------------- */
@media (min-width: 768px) {
  .container-fluid {
    padding-left: 75px;
    padding-right: 75px;
  }
}

/* ------------------------------------------------------------------
 * Jumbotron Backgrounds
 * --------------------------------------------------------------- */
.backing-img {
  text-shadow: 0 5px 7px rgba(0,0,0,.8), 0 0 30px rgba(0,0,0,.375);
  color: #fff;
  background: url("http://backbone-testing.com/doc/img/bg/ivy.jpg");
  background-size: cover;
}

.backing-gradient {
  color: #fff;
  text-shadow: 0 5px 7px rgba(0,0,0,.8), 0 0 30px rgba(0,0,0,.375);
  background-color: #337ac7;
  background: -webkit-gradient(linear, left top, right top, from(#3F4757), to(#337ac7));
  background: -webkit-linear-gradient(left, #3F4757, #337ac7);
  background:    -moz-linear-gradient(left, #3F4757, #337ac7);
  background:     -ms-linear-gradient(left, #3F4757, #337ac7);
  background:      -o-linear-gradient(left, #3F4757, #337ac7);
}

/* ------------------------------------------------------------------
 * Navbar
 * --------------------------------------------------------------- */
.navmenu {
  width: 200px;
}

.navbar-toggle {
  float: left;
  margin-left: 10px;
  background-color: #fff;
}
@media (max-width: 768px) {
  .navbar-toggle {
    opacity: 0.5;
  }
}

.navmenu-inverse {
  background-color: #3F4757;
  border-color: #080808;
}

li.nav-item > a {
  padding: 5px 15px;
  line-height: 1.2em;
}
.navmenu-inverse .navmenu-brand,
.navmenu-inverse .navmenu-nav > li > a {
  color: #ccc;
}
.navmenu-fixed-left,
.navbar-offcanvas.navmenu-fixed-left {
  border-right: 1px solid #888;
}

.nav-item-H2 {
  font-weight: bold;
}

.nav-item-H3 {
  padding-left: 10px
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;

  }
}